body {
  height: 100vh;
  width: 100vw;
  font-family: "avenir next", Arial, sans-serif;
  margin: 0px;
  background: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 1fr 8.8fr 0.2fr;
}

.header {
  grid-row: 1;
  color: goldenrod;
  display: grid;
  text-align: center;
}

.main-page {
  grid-row: 2;
  grid-gap: 0px;
  display: grid;
  grid-template-rows: 1fr 9fr;
}

.main-page-desc {
  display: grid;
  grid-row: 1;
  grid-template-columns: 8fr 2fr;
}

.page-sub-header {
  padding-left: 20px;
  font-size: x-large;
  font-weight: bold;
  grid-column: 1;
  align-self: center;
}

.data-area {
  /* background-color: #b7e0ff; */
  display: grid;
  grid-row: 2;
  grid-template-columns: 1.1fr 2.9fr;
}

.text-description {
  grid-column: 1;
  background-color: #d4d1d1;
  margin: 50px 0px 20px 20px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 0px;
  display: flex;
}

.text-desc {
  font-size: 14px;
  word-wrap: normal;
}

.text-desc-hdr {
  color: grey;
}
.team-list {
  font-size: 14px;
}

.chart-data {
  display: grid;
  width: fit-content;
  /* outline: 3px solid red; */
  grid-column: 2;
  display: grid;
  grid-template-rows: 9fr 1fr;
}

.float-container {
  display: grid;
  /* outline: 3px solid red; */
  grid-row: 1;
  padding-left: 30px;
  align-content: center;
  justify-content: center;
}

.nav2 {
  grid-row: 2;
  align-self: center;
}

.nav {
  color: inherit;
  text-align: center;
  cursor: pointer;
}

.nav:hover {
  color: blue;
}

.footer {
  display: grid;
  grid-row: 3;
  padding-top: 10px;
  place-content: center;
  font-size: smaller;
}

.axis line {
  stroke: #706f6f;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
  stroke: #706f6f;
  stroke-width: 0.7;
  shape-rendering: crispEdges;
}

/* axis text */
.axis-label,
.axis text {
  fill: #2b2929;
  font-family: Georgia;
  font-weight: bold;
}

/* path {
  fill: none;
  stroke: #ed3700;
} */

.closed {
  max-height: 0;
}

.float-container .custom-tooltip {
  display: none;
  background: whitesmoke;
  border: black;
  border-width: thin;
}

.float-container:hover .custom-tooltip {
  display: block;
  position: fixed;
  overflow: hidden;
}

.col-header {
  font-weight: normal;
  font-size: x-small;
  color: rgb(91, 90, 90);
}

.col-data {
  font-weight: bold;
  font-size: xx-small;
  color: grey;
}

.col-data-right {
  text-align: right;
}

.custom-tooltip-header {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.custom-tooltip-text {
  font-weight: normal;
  font-size: x-small;
  color: rgb(91, 90, 90);
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.5;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 1;
}

.chartLine:hover {
  cursor: pointer;
}

.layer:hover {
  cursor: pointer;
}

.annotation path.connector-arrow,
.title text,
.annotation text,
.annotation.callout.circle .annotation-subject path {
  fill: grey;
  font-size: small;
}

.bubble,
.bubble-label {
  cursor: pointer;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
  font-weight: bold;
}

.first {
  background-color: #d4d1d1;
  color: black;
}

.first:hover {
  background-color: #8e8d8d;
}

.previous {
  background-color: #d4d1d1;
  color: black;
}

.next {
  background-color: #d4d1d1;
  color: black;
}

.next:hover {
  background-color: #04aa6d;
  color: white;
}

.last {
  background-color: #d4d1d1;
  color: black;
}
.last:hover {
  background-color: #0f7b55;
  color: white;
}

.round {
  border-radius: 50%;
}
